*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/*Header*/

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  text-align: center;
  list-style: none;
  color: #FAFAFA;
  font-size: 16px;
}

.nav-list a{
  color: #FAFAFA;
}

/*Mainvisual*/

#mv {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #FAFAFA;
  background-image: url(img/mv.png);
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-text {
  font-size: 20px;
  padding-top: 10px;
}

#portfolio {
  background-color: #ECEFF1;
}

.port-heading {
  text-align: center;
  padding-top: 90px;
  width: 920px;
  font-size: 32px;
  color: #000000;
}

.port-text {
  width: 920px;
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}

.portimg-group{
  width: 920px;
  display: flex;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.portimg-1 {
  background-image: url(img/sketch.jpg);
}

.portimg-2 {
  background-image: url(img/websuku.png);
}

/*Footer*/
footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #EC715F;
  color: #FAFAFA;
  font-size: 16px;
  text-align: center;
}